<!DOCTYPE html>
<!-- saved from url=(0027)https://dapp.pepeai.io/play -->
<html
  data-theme="dark"
  style="
    color-scheme: dark;
    --w3m-color-fg-1: rgb(20, 20, 20);
    --w3m-color-fg-2: rgb(121, 134, 134);
    --w3m-color-fg-3: rgb(158, 169, 169);
    --w3m-color-bg-1: rgb(255, 255, 255);
    --w3m-color-bg-2: rgb(241, 243, 243);
    --w3m-color-bg-3: rgb(228, 231, 231);
    --w3m-color-overlay: rgba(0, 0, 0, 0.1);
    --w3m-accent-color: #3396ff;
    --w3m-accent-fill-color: #ffffff;
    --w3m-z-index: 89;
    --w3m-background-color: #3396ff;
    --w3m-background-border-radius: 8px;
    --w3m-container-border-radius: 30px;
    --w3m-wallet-icon-border-radius: 15px;
    --w3m-wallet-icon-large-border-radius: 30px;
    --w3m-wallet-icon-small-border-radius: 7px;
    --w3m-input-border-radius: 28px;
    --w3m-button-border-radius: 10px;
    --w3m-notification-border-radius: 36px;
    --w3m-secondary-button-border-radius: 28px;
    --w3m-icon-button-border-radius: 50%;
    --w3m-button-hover-highlight-border-radius: 10px;
    --w3m-text-big-bold-size: 20px;
    --w3m-text-big-bold-weight: 600;
    --w3m-text-big-bold-line-height: 24px;
    --w3m-text-big-bold-letter-spacing: -0.03em;
    --w3m-text-big-bold-text-transform: none;
    --w3m-text-xsmall-bold-size: 10px;
    --w3m-text-xsmall-bold-weight: 700;
    --w3m-text-xsmall-bold-line-height: 12px;
    --w3m-text-xsmall-bold-letter-spacing: 0.02em;
    --w3m-text-xsmall-bold-text-transform: uppercase;
    --w3m-text-xsmall-regular-size: 12px;
    --w3m-text-xsmall-regular-weight: 600;
    --w3m-text-xsmall-regular-line-height: 14px;
    --w3m-text-xsmall-regular-letter-spacing: -0.03em;
    --w3m-text-xsmall-regular-text-transform: none;
    --w3m-text-small-thin-size: 14px;
    --w3m-text-small-thin-weight: 500;
    --w3m-text-small-thin-line-height: 16px;
    --w3m-text-small-thin-letter-spacing: -0.03em;
    --w3m-text-small-thin-text-transform: none;
    --w3m-text-small-regular-size: 14px;
    --w3m-text-small-regular-weight: 600;
    --w3m-text-small-regular-line-height: 16px;
    --w3m-text-small-regular-letter-spacing: -0.03em;
    --w3m-text-small-regular-text-transform: none;
    --w3m-text-medium-regular-size: 16px;
    --w3m-text-medium-regular-weight: 600;
    --w3m-text-medium-regular-line-height: 20px;
    --w3m-text-medium-regular-letter-spacing: -0.03em;
    --w3m-text-medium-regular-text-transform: none;
    --w3m-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
    --w3m-success-color: rgb(38, 181, 98);
    --w3m-error-color: rgb(242, 90, 103);
    --w3m-background-image-url: none;
  "
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PEPE AI</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="PEPE AI" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="https://dapp.pepeai.io/favicon.png" />
    <link
      rel="preload"
      as="image"
      imagesrcset="/_next/image?url=%2Fimages%2Flogo%2Flogo-white.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fimages%2Flogo%2Flogo-white.png&amp;w=256&amp;q=75 2x"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      imagesrcset="/_next/image?url=%2Fimages%2Flogo%2Flogo-dark.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fimages%2Flogo%2Flogo-dark.png&amp;w=256&amp;q=75 2x"
      fetchpriority="high"
    />
    <meta name="next-head-count" content="8" />
    <link
      data-next-font=""
      rel="preconnect"
      href="https://dapp.pepeai.io/"
      crossorigin="anonymous"
    />
    <link rel="preload" href="./play_files/f7e6a41db429fedc.css" as="style" />
    <link
      rel="stylesheet"
      href="./play_files/f7e6a41db429fedc.css"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="./play_files/polyfills-c67a75d1b6f99dc8.js"
    ></script>
    <script
      id="next-themes-script"
      src="data:text/javascript;base64,IWZ1bmN0aW9uKCl7dHJ5IHt2YXIgZD1kb2N1bWVudC5kb2N1bWVudEVsZW1lbnQ7dmFyIG49J2RhdGEtdGhlbWUnO3ZhciBzID0gJ3NldEF0dHJpYnV0ZSc7dmFyIGU9bG9jYWxTdG9yYWdlLmdldEl0ZW0oJ3RoZW1lJyk7aWYoInN5c3RlbSI9PT1lfHwoIWUmJmZhbHNlKSl7dmFyIHQ9IihwcmVmZXJzLWNvbG9yLXNjaGVtZTogZGFyaykiLG09d2luZG93Lm1hdGNoTWVkaWEodCk7aWYobS5tZWRpYSE9PXR8fG0ubWF0Y2hlcyl7ZC5zdHlsZS5jb2xvclNjaGVtZSA9ICdkYXJrJztkW3NdKG4sICdkYXJrJyl9ZWxzZXtkLnN0eWxlLmNvbG9yU2NoZW1lID0gJ2xpZ2h0JztkW3NdKG4sICdsaWdodCcpfX1lbHNlIGlmKGUpe2Rbc10obiwgZXx8ICcnKX1lbHNle2Rbc10obiwgJ2RhcmsnKX1pZihlPT09J2xpZ2h0J3x8ZT09PSdkYXJrJ3x8IWUpZC5zdHlsZS5jb2xvclNjaGVtZT1lfHwnZGFyayd9Y2F0Y2goZSl7fX0oKQ=="
      defer=""
      data-nscript="beforeInteractive"
    ></script>
    <script src="./play_files/webpack-36dd0c69a78db56d.js" defer=""></script>
    <script src="./play_files/framework-73b8966a3c579ab0.js" defer=""></script>
    <script src="./play_files/main-75c7a8a7475c0825.js" defer=""></script>
    <script src="./play_files/_app-96775b0f8cde5988.js" defer=""></script>
    <script src="./play_files/d7eeaac4-0755591651742e30.js" defer=""></script>
    <script src="./play_files/252f366e-10ba754b55a6aff8.js" defer=""></script>
    <script src="./play_files/0c428ae2-acb9160cd931d711.js" defer=""></script>
    <script src="./play_files/4072747d-39c9804688118da1.js" defer=""></script>
    <script src="./play_files/809-fd3fd748f916c35b.js" defer=""></script>
    <script src="./play_files/415-f56cd0469dd9fa33.js" defer=""></script>
    <script src="./play_files/878-2af93f4d0445dffc.js" defer=""></script>
    <script src="./play_files/983-50e39e06470569d7.js" defer=""></script>
    <script src="./play_files/253-5aa7280653ebc881.js" defer=""></script>
    <script src="./play_files/658-3440af0f0f0852c7.js" defer=""></script>
    <script src="./play_files/442-aefae4f0e5c2c0fb.js" defer=""></script>
    <script src="./play_files/734-36faf8afd5324596.js" defer=""></script>
    <script src="./play_files/225-238755a8f989da3e.js" defer=""></script>
    <script src="./play_files/play-b50bf7df26f06c14.js" defer=""></script>
    <script src="./play_files/_buildManifest.js" defer=""></script>
    <script src="./play_files/_ssgManifest.js" defer=""></script>
  </head>
  <body class="undefined">
    <div id="__next">
      <header
        class="rn-header haeder-default black-logo-version header--fixed header--sticky sticky"
      >
        <div class="container">
          <div class="header-inner">
            <div class="header-left">
              <div class="logo-thumbnail logo-custom-css">
                <a
                  rel="preload"
                  href="https://dapp.pepeai.io/"
                  class="logo-light"
                  ><img
                    alt="nft-logo"
                    fetchpriority="high"
                    width="106"
                    height="35"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    srcset="
                      /_next/image?url=%2Fimages%2Flogo%2Flogo-white.png&amp;w=128&amp;q=75 1x,
                      /_next/image?url=%2Fimages%2Flogo%2Flogo-white.png&amp;w=256&amp;q=75 2x
                    "
                    src="./play_files/logo-white.png" /></a
                ><a
                  rel="preload"
                  href="https://dapp.pepeai.io/"
                  class="logo-dark"
                  ><img
                    alt="nft-logo"
                    fetchpriority="high"
                    width="106"
                    height="35"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    srcset="
                      /_next/image?url=%2Fimages%2Flogo%2Flogo-dark.png&amp;w=128&amp;q=75 1x,
                      /_next/image?url=%2Fimages%2Flogo%2Flogo-dark.png&amp;w=256&amp;q=75 2x
                    "
                    src="./play_files/logo-dark.png"
                /></a>
              </div>
              <div class="mainmenu-wrapper">
                <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                  <ul class="mainmenu">
                    <li class="">
                      <a
                        rel="noopener noreferrer"
                        class="its_new"
                        href="https://pepeai.io/"
                        target="_blank"
                        >Home</a
                      >
                    </li>
                    <li class="">
                      <a
                        rel="preload"
                        href="https://dapp.pepeai.io/"
                        class="its_new"
                        >PEPE AI</a
                      >
                    </li>
                    <li class="">
                      <a
                        rel="preload"
                        href="https://dapp.pepeai.io/live"
                        class="its_new"
                        >AI Memes</a
                      >
                    </li>
                    <li class="">
                      <a
                        rel="preload"
                        href="https://dapp.pepeai.io/play"
                        class="its_new"
                        >Play</a
                      >
                    </li>
                    <li class="">
                      <a class="its_new" href="https://dapp.pepeai.io/play#"
                        >NFT Marketplace<span class="coming-soon-tag"
                          >Coming Soon</span
                        ></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-right">
              <div class="setting-option header-btn"></div>
              <div class="setting-option header-btn">
                <div class="icon-box">
                  <button
                    class="connectBtn btn btn-small btn-primary-alta"
                    type="button"
                  >
                    <span>Connect Wallet</span>
                  </button>
                </div>
              </div>
              <div class="setting-option mobile-menu-bar d-block d-xl-none">
                <div class="hamberger">
                  <button type="button" class="hamberger-button">
                    <i class="feather-menu"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main id="main-content">
        <canvas
          id="react-unity-webgl-canvas-1"
          style="height: 100%; width: 100%; cursor: default"
          width="1351"
          height="676"
        ></canvas>
        ;
      </main>
      <div
        class="rn-footer-one bg-color--1 rn-section-gap mt--100 mt_md--80 mt_sm--80"
      ></div>
      <div class="copy-right-one ptb--20 bg-color--1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="copyright-left">
                <span>Made with ❤️ by PEPEAI</span>
                <ul class="privacy"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="rn-progress-parent rn-backto-top-active"
        role="button"
        tabindex="-1"
      >
        <svg
          class="rn-back-circle svg-inner"
          width="100%"
          height="100%"
          viewBox="-1 -1 102 102"
        >
          <path
            d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
            style="
              transition: stroke-dashoffset 10ms linear 0s;
              stroke-dasharray: 307.919, 307.919;
              stroke-dashoffset: 0;
            "
          ></path>
        </svg>
      </div>
      <div class="Toastify"></div>
      <w3m-modal></w3m-modal>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": { "pageProps": {} },
        "page": "/play",
        "query": {},
        "buildId": "Cmv_6HxNz70T4dJvXcU-8",
        "runtimeConfig": {
          "NAME": "PEPEAI",
          "API": "https://dapp.pepeai.io/web/api",
          "PAY_CONTRACT": "0x158a584fDa7290D47Bdd719b2838edb6171dA7de",
          "NETWORK_ID": 56,
          "COIN_WATCH": "https://api.livecoinwatch.com/coins/single",
          "IMAGE_CDN": "https://midwaylive.fra1.cdn.digitaloceanspaces.com/",
          "DISCORD": "https://discord.com/invite/Tqhtk7XTqQ",
          "TELEGRAM": "http://t.me/midwayai",
          "TWITTER": "https://twitter.com/MidwayAI",
          "TOKEN_ADDRESS": "",
          "CHART": "",
          "DEX": ""
        },
        "nextExport": true,
        "autoExport": true,
        "isFallback": false,
        "scriptLoader": []
      }
    </script>
    <script
      type="text/javascript"
      src="./play_files/pepeai.loader.js"
      async=""
      data-status="loaded"
    ></script>
    <next-route-announcer>
      <p
        aria-live="assertive"
        id="__next-route-announcer__"
        role="alert"
        style="
          border: 0px;
          clip: rect(0px, 0px, 0px, 0px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0px;
          position: absolute;
          top: 0px;
          width: 1px;
          white-space: nowrap;
          overflow-wrap: normal;
        "
      ></p>
    </next-route-announcer>
    <script src="./play_files/pepeai.framework.js"></script>
  </body>
</html>
